<config>
    <modules>
        <Widgetized_Idpas400>
            <version>1.0.3</version>
        </Widgetized_Idpas400>
    </modules>
  
    <admin>
        <routers>
            <idpas400>
                <use>admin</use>
                <args>
                    <module>Widgetized_Idpas400</module>
                    <frontName>idpas400</frontName>
                </args>
            </idpas400>
        </routers>
    </admin>
  
    <global>
        <models>
            <idpas400>
                <class>Widgetized_Idpas400_Model</class>
                <resourceModel>idpas400_resource</resourceModel>
            </idpas400>
            <idpas400_resource>
                <class>Widgetized_Idpas400_Model_Resource</class>
                <entities>
                    <erp_products>
                        <table>SROPRG</table>
                    </erp_products>
                    <erp_customers>
                        <table>SRONAM</table>
                    </erp_customers>
                    <order>
                        <table>sales_order_school</table>
                    </order>
                </entities>
            </idpas400_resource>
            <customer>
                <rewrite>
                    <form>Widgetized_Idpas400_Model_Form</form>
                </rewrite>
            </customer>
            <avatax>
                <rewrite>
                    <sales_quote_address>Widgetized_Idpas400_Model_Sales_Quote_Address</sales_quote_address>
                </rewrite>
            </avatax>
            <sales>
                <rewrite>
                    <quote_address>Widgetized_Idpas400_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
            <usa>
                <rewrite>
                    <shipping_carrier_ups>Widgetized_Idpas400_Model_Ups</shipping_carrier_ups>
                </rewrite>
            </usa>
        </models>
        <blocks>
            <idpas400>
                <class>Widgetized_Idpas400_Block</class>
            </idpas400>
        </blocks>
        <resources>
            <idpas400_setup>
                <setup>
                    <module>Widgetized_Idpas400</module>
                </setup>
            </idpas400_setup>
        </resources>
        
        <events>
            <customer_save_after>
                <observers>
                    <idpas400>
                        <class>idpas400/observer</class>
                        <method>customer_save_after</method>
                        <type>singleton</type>
                    </idpas400>
                </observers>
            </customer_save_after>
            <sales_order_save_commit_after>
                <observers>
                    <idpas400>
                        <class>idpas400/observer</class>
                        <method>sales_order_save_commit_after</method>
                        <type>singleton</type>
                    </idpas400>
                </observers>
            </sales_order_save_commit_after>
            <sales_quote_address_update_shipping_rates>
                <observers>
                    <idpas400>
                        <type>singleton</type>
                        <class>idpas400/observer</class>
                        <method>update_shipping_rates</method>
                    </idpas400>
                </observers>
            </sales_quote_address_update_shipping_rates>
            <checkout_onepage_controller_success_before_action>
                <observers>
                    <idpas400>
                        <type>singleton</type>
                        <class>idpas400/observer</class>
                        <method>checkout_onepage_controller_success_action</method>
                    </idpas400>
                </observers>
            </checkout_onepage_controller_success_before_action> 
        </events>
        
        <helpers>
            <idpas400>
                <class>Widgetized_Idpas400_Helper</class>
            </idpas400>
        </helpers>
    
        <template>
            <email>
                <FailedOrder>
                    <label>Send New Order Failure to Support</label>
                    <file>FailedOrder.html</file>
                    <type>html</type>
                </FailedOrder>
            </email>
        </template>
    </global>
  
    <crontab>
        <jobs>
            <update_product_quantities>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>idpas400/observer::update_product_quantities</model>
                </run>
            </update_product_quantities>
            <product_cron_sync>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>idpas400/observer::product_cron_sync</model>
                </run>
            </product_cron_sync>
            <recurring_status_update>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>idpas400/observer::cron_check_order_status</model>
                </run>
            </recurring_status_update>
        </jobs>
    </crontab>
    
    <frontend>
        <routers>
            <idpas400>
                <use>standard</use>
                <args>
                    <module>Widgetized_Idpas400</module>
                    <frontName>externaldb</frontName>
                </args>
            </idpas400>
            <checkout>
                <args>
                    <modules>
                        <Widgetized_Idpas400 before="Mage_Checkout">Widgetized_Idpas400</Widgetized_Idpas400>
                    </modules>
                </args>
            </checkout>
            <customer>
                <args>
                    <modules>
                        <Widgetized_Idpas400 before="Mage_Customer">Widgetized_Idpas400</Widgetized_Idpas400>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
    
    <default>
        <idpas400>
            <Credentials>
                <ENABLED>0</ENABLED>
            </Credentials>
            <Support>
                <SENDEMAIL>1</SENDEMAIL>
                <EMAILTO>jonathonbyrd@gmail.com</EMAILTO>
                <EMAILSENDER>webmaster@b4schools.com</EMAILSENDER>
                <SUBJECT>Magento to IDP AS400 API Issue **IMPORTANT** {{var store.getFrontendName()}}: New Order # {{var order.increment_id}}</SUBJECT>
                <EMAILTEMPLATE>FailedOrder</EMAILTEMPLATE>
            </Support>
        </idpas400>
    </default>
  
</config>