app/etc/local.xml
downloader/.cache
downloader/cache.cfg
downloader/connect.cfg
/var/*
!/var/.htaccess
media/catalog/product/cache
.htaccess.sample
.modgit/
.modman/
favicon.ico
index.php.sample
php.ini.sample
sitemap.xml
nbproject/
pear
pear/
php.ini.sample
LICENSE.txt
LICENSE_AFL.txt
README_VARNISH_CACHE.txt
RELEASE_NOTES.txt

