<?xml version="1.0"?>
<config>
    <modules>
        <Theme_Additional>
            <version>1.0.0</version>
        </Theme_Additional>
    </modules>
    <frontend>
        <events>
          <controller_action_predispatch_cms_index_index>
              <observers>
                  <schoolstheme>
                      <model>schoolstheme/observer</model>
                      <method>substituteHomePage</method>
                  </schoolstheme>
              </observers>
          </controller_action_predispatch_cms_index_index>
       </events>
        <routers>
            <ajax_cart>
                <use>standard</use>
                <args>
                    <module>Theme_Additional</module>
                    <frontName>ajax-cart</frontName>
                </args>
            </ajax_cart>
        </routers>
    </frontend>
    <global>
        <models>
            <schoolstheme>
                <class>Theme_Additional_Model</class>
            </schoolstheme>
        </models>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>Theme_Additional_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
    </global>
</config>