<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<AnattaDesign_AbandonedCarts>
			<version>1.2.0</version>
		</AnattaDesign_AbandonedCarts>
	</modules>
	<global>
		<models>
			<anattadesign_abandonedcarts>
				<class>AnattaDesign_AbandonedCarts_Model</class>
				<resourceModel>anattadesign_abandonedcarts_mysql4</resourceModel>
			</anattadesign_abandonedcarts>
			<anattadesign_abandonedcarts_mysql4>
				<class>AnattaDesign_AbandonedCarts_Model_Mysql4</class>
				<entities>
					<statistics>
						<table>anattadesign_abandonedcarts_statistics</table>
					</statistics>
					<opstatistics>
						<table>anattadesign_abandonedcarts_opstatistics</table>
					</opstatistics>
					<osstatistics>
						<table>anattadesign_abandonedcarts_osstatistics</table>
					</osstatistics>
				</entities>
			</anattadesign_abandonedcarts_mysql4>
		</models>
		<blocks>
			<anattadesign_abandonedcarts>
				<class>AnattaDesign_AbandonedCarts_Block</class>
			</anattadesign_abandonedcarts>
		</blocks>
		<resources>
			<anattadesign_abandonedcarts_setup>
				<setup>
					<module>AnattaDesign_AbandonedCarts</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</anattadesign_abandonedcarts_setup>
		</resources>
		<helpers>
			<anattadesign_abandonedcarts>
				<class>AnattaDesign_AbandonedCarts_Helper</class>
			</anattadesign_abandonedcarts>
		</helpers>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<anattadesign_awesomecheckout_addjs>
						<!--<type>singleton</type>-->
						<class>AnattaDesign_AbandonedCarts_Model_Observer</class>
						<method>addJavascriptBlock</method>
					</anattadesign_awesomecheckout_addjs>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
		<template>
			<email>
				<anattadesign_abandonedcarts_email_report_template translate="label" module="anattadesign_abandonedcarts">
					<label>MyAbandonedCarts Weekly Report</label>
					<file>anattadesign_abandonedcarts/weekly_report.html</file>
					<type>html</type>
				</anattadesign_abandonedcarts_email_report_template>
			</email>
		</template>
	</global>
	<admin>
		<routers>
			<abandonedcarts>
				<use>admin</use>
				<args>
					<module>AnattaDesign_AbandonedCarts</module>
					<frontName>abandonedcarts</frontName>
				</args>
			</abandonedcarts>
		</routers>
	</admin>
	<frontend>
		<translate>
			<modules>
				<AnattaDesign_AbandonedCarts>
					<files>
						<default>AnattaDesign_AbandonedCarts.csv</default>
					</files>
				</AnattaDesign_AbandonedCarts>
			</modules>
		</translate>
		<events>
			<controller_action_postdispatch_checkout_onepage_index>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>index</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</controller_action_postdispatch_checkout_onepage_index>
			<controller_action_postdispatch_onestepcheckout_index_index>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>index</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</controller_action_postdispatch_onestepcheckout_index_index>
			<sales_quote_merge_before>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>merge</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</sales_quote_merge_before>
			<controller_action_postdispatch_checkout_onepage_saveMethod>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>saveMethod</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveMethod>
			<controller_action_predispatch_customer_account_loginPost>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>loginPost</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</controller_action_predispatch_customer_account_loginPost>
			<controller_action_postdispatch_checkout_onepage_saveBilling>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>saveBilling</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveBilling>
			<controller_action_postdispatch_checkout_onepage_saveShipping>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>saveShipping</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveShipping>
			<controller_action_postdispatch_checkout_onepage_saveShippingMethod>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>saveShippingMethod</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveShippingMethod>
			<controller_action_postdispatch_checkout_onepage_savePayment>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>savePayment</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</controller_action_postdispatch_checkout_onepage_savePayment>
			<controller_action_postdispatch_checkout_onepage_saveOrder>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>saveOrder</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveOrder>
			<controller_action_postdispatch_paypal_express_review>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>paypalReview</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</controller_action_postdispatch_paypal_express_review>
			<controller_action_postdispatch_paypal_express_placeOrder>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>paypalSaveOrder</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</controller_action_postdispatch_paypal_express_placeOrder>
			<checkout_type_onepage_save_order_after>
				<observers>
					<anattadesign_abandonedcarts_checkout_observer>
						<type>singleton</type>
						<class>AnattaDesign_AbandonedCarts_Model_Checkout_Onepage_Observer</class>
						<method>finalsaveOrder</method>
					</anattadesign_abandonedcarts_checkout_observer>
				</observers>
			</checkout_type_onepage_save_order_after>
		</events>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<AnattaDesign_AbandonedCarts>
					<files>
						<default>AnattaDesign_AbandonedCarts.csv</default>
					</files>
				</AnattaDesign_AbandonedCarts>
			</modules>
		</translate>
		<layout>
			<updates>
				<anattadesign_abandonedcarts>
					<file>anattadesign_abandonedcarts.xml</file>
				</anattadesign_abandonedcarts>
			</updates>
		</layout>
		<events>
			<admin_session_user_login_success>
				<observers>
					<anattadesign_abandonedcarts_model_observer>
						<class>AnattaDesign_AbandonedCarts_Model_Observer</class>
						<method>uponAdminLogin</method>
					</anattadesign_abandonedcarts_model_observer>
				</observers>
			</admin_session_user_login_success>
		</events>
	</adminhtml>
	<crontab>
		<jobs>
			<anattadesign_abandonedcarts>
				<schedule>
					<cronexpr>0 6 * * 1</cronexpr>
				</schedule>
				<run>
					<model>anattadesign_abandonedcarts/observer::weeklyEmailReport</model>
				</run>
			</anattadesign_abandonedcarts>
		</jobs>
	</crontab>
</config>