<?xml version="1.0"?>
<config>
    <modules>
        <Wavethemes_Jmmegamenu>
            <version>0.1.2</version>
        </Wavethemes_Jmmegamenu>
    </modules>
    <frontend>
        <routers>
            <jmmegamenu>
                <use>standard</use>
                <args>
                    <module>Wavethemes_Jmmegamenu</module>
                    <frontName>jmmegamenu</frontName>
                </args>
            </jmmegamenu>
        </routers>
        <layout>
            <updates>
                <jmmegamenu>
                    <file>jmmegamenu.xml</file>
                </jmmegamenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <jmmegamenu>
                <use>admin</use>
                <args>
                    <module>Wavethemes_Jmmegamenu</module>
                    <frontName>jmmegamenu</frontName>
                </args>
            </jmmegamenu>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <joomlart>
                <title>Joomlart</title>
                <sort_order>100</sort_order>
                <children>
                    <jmmegamenu module="jmmegamenu">
                        <title>JM Mega Menu</title>
                        <sort_order>0</sort_order>
                        <children>
                            <groups module="jmmegamenu">
                                <title>Manage Menu Groups</title>
                                <sort_order>0</sort_order>
                                <action>jmmegamenu/adminhtml_jmmegamenu/group</action>
                            </groups>
                            <setting module="admin">
                                <title>Settings</title>
                                <sort_order>2</sort_order>
                                <action>adminhtml/system_config/edit/section/wavethemes_jmmegamenu</action>
                            </setting>
                        </children>
                    </jmmegamenu>
                </children>
            </joomlart>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <jmmegamenu translate="title" module="jmmegamenu">
                            <title>Jmmegamenu</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <jmbasethemebackend translate="title">
                                    <title>Backend Page Title</title>
                                </jmbasethemebackend>
                            </children>
                        </jmmegamenu>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <jmmegamenu>
                    <file>jmmegamenu.xml</file>
                </jmmegamenu>
            </updates>
        </layout>
        <translate>
            <modules>
                <Wavethemes_Jmmegamenu>
                    <files>
                        <default>Wavethemes_Jmmegamenu.csv</default>
                    </files>
                </Wavethemes_Jmmegamenu>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <wavethemes_jmmegamenu>
            <wavethemes_jmmegamenu>
                <show>1</show>
            </wavethemes_jmmegamenu>
        </wavethemes_jmmegamenu>
    </default>
    <global>
        <models>
            <jmmegamenu>
                <class>Wavethemes_Jmmegamenu_Model</class>
                <resourceModel>jmmegamenu_mysql4</resourceModel>
            </jmmegamenu>
            <jmmegamenugroup>
                <class>Wavethemes_Jmmegamenu_Model_Jmmegamenugroup</class>
                <resourceModel>jmmegamenu_mysql4_Jmmegamenugroup</resourceModel>
            </jmmegamenugroup>
            <jmmegamenustoregroup>
                <class>Wavethemes_Jmmegamenu_Model_Jmmegamenustoregroup</class>
                <resourceModel>jmmegamenu_mysql4_Jmmegamenustoregroup</resourceModel>
            </jmmegamenustoregroup>
            <jmmegamenu_mysql4>
                <class>Wavethemes_Jmmegamenu_Model_Mysql4</class>
                <entities>
                    <jmmegamenu>
                        <table>jmmegamenu</table>
                    </jmmegamenu>
                    <jmmegamenu_types>
                        <table>jmmegamenu_types</table>
                    </jmmegamenu_types>
                    <jmmegamenu_store_menugroup>
                        <table>jmmegamenu_store_menugroup</table>
                    </jmmegamenu_store_menugroup>
                </entities>
            </jmmegamenu_mysql4>


        </models>
        <resources>
            <jmmegamenu_setup>
                <setup>
                    <module>Wavethemes_Jmmegamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jmmegamenu_setup>
            <jmmegamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </jmmegamenu_write>
            <jmmegamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </jmmegamenu_read>
        </resources>
        <blocks>
            <jmmegamenu>
                <class>Wavethemes_Jmmegamenu_Block</class>
            </jmmegamenu>
            <page>
                <rewrite>
                    <html_topmenu>Wavethemes_Jmmegamenu_Block_Jmmegamenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <jmmegamenu>
                <class>Wavethemes_Jmmegamenu_Helper</class>
            </jmmegamenu>
        </helpers>
        <events>
            <adminhtml_store_edit_form_prepare_form>
                <observers>
                    <wavethemes_jmmegamenu>
                        <class>Wavethemes_Jmmegamenu_Model_Observer</class>
                        <method>prefarestoreForm</method>
                    </wavethemes_jmmegamenu>
                </observers>
            </adminhtml_store_edit_form_prepare_form>
            <store_edit>
                <observers>
                    <wavethemes_jmmegamenu>
                        <class>Wavethemes_Jmmegamenu_Model_Observer</class>
                        <method>storeedit</method>
                    </wavethemes_jmmegamenu>
                </observers>
            </store_edit>
        </events>
    </global>
</config>  